body{background-color: #ebeef4}
#wrapper{width: 600px; margin: auto}
 #left, #right{min-height: 300px;}
#left{width:30%; float: left;}
#right{width: 70%; float: right; background-color: aliceblue}
#roomHientai{background-color: gray; width: 100px; float: right;}
#formChat{float: right;}